body {
    background-color: gray;
}

.profiletop {
    position: relative;
    background-color: blue;
    display: block;
    width: 850px;
    height: 250px;
    border: black solid 1px;
    margin-left: auto;
    margin-right: auto;
}

fitInProfileTop {
    bottom: 100px;
}

/* h1 h3 {
    margin-left: 180px;
    top: 150px;
    position: relative;
    ;
} */

#topText {
    top: 120px;
    left: 170px;
    /* margin-left: 100px; */
    position: relative;
}

/* h3 {
    top: 200px;
} */

img {
    position: relative;
    /* float: left; */
    right: 191px;
    top: 5px;
    border: black 1px solid;
    /* margin-top: 120px; */
    width: 150px;
    height: 150px;
}

ul {
    z-index: -1;
    bottom: 43px;
    position: relative;
    padding-left: 170px;
    width: 680px;
    border: gainsboro solid 1px;
    background-color: gainsboro;
}

body {
    position: relative;
    left: 70px;
    width: 850px;
}

.topBtn {
    position: relative;
    left: 650px;
    bottom: 35px;
    border: gainsboro solid 1px;
    background-color: gainsboro;
}

.btn {
    margin-right: 5px;
    background-color: gainsboro;
    border: gainsboro;
}

#bodySections {
    margin-top: 30px;
    column-count: 2;
    column-gap: 10px;
}

.left {
    float: left;
    width: 328px;
    height: 275px;
    border: gray solid 1px;
    background-color: whitesmoke;
    position: relative;
    display: block;
}

.right {
    float: right;
    width: 512px;
    height: 275px;
    border: gray solid 1px;
    background-color: whitesmoke;
    position: relative;
    display: block;
}